body{
	background: #fff;
}
nav{
	position: relative;
	top: 30px;
}
nav ul{
	list-style: none;
}
	nav ul li{
		display: inline-block;
	}
		nav ul li a{
			color: #6c6c6c;
			font-family: "Myriad Pro";
			margin-left: 30px;
			text-decoration: none;
		}
			nav ul li a:hover{
				border-bottom: 5px solid #5094f2;
				padding-bottom: 6px;
			}
.logo{
	background: url(../images/logo.png) no-repeat;
	position: relative;
	left: 30px;
	top: 15px;
	height: 43px;
}
.galeria{
	background: url(../images/fondo_galeria.jpg) no-repeat;
	height: 482px;
	margin-top: 40px;
}
.content{
	color: #909090;
	font-family: "Myriad Pro";
	margin-top: 70px;
	
}
	.content h2{
		color: #5094f2;
		font-size: 1.2em;
		font-weight: normal;
		text-align: center;
	}
	.content p{
		text-align: center;
	}
	.points{
		width: 260px;
		margin-left: 60px;
	}
		#p1{
			background: url(../images/icons.png) no-repeat;
			height: 188px;
			width: 188px;
			margin-left: 40px;
		}
		#p2{
			background: url(../images/icons.png) no-repeat -187px 0;
			height: 188px;
			width: 187px;
			margin-left: 40px;
		}
		#p3{
			background: url(../images/icons.png) no-repeat -374px 0;
			height: 188px;
			width: 187px;
			margin-left: 40px;
		}
#shop{
	background: url(../images/canasta.png) no-repeat;
	height: 268px;
	width: 359px;
}
#prefooter{
	margin-top: 20px;
}
	#prefooter h1{
		font-weight: normal;
		text-align: center;
	}
	#prefooter p{
		text-align: left;
		line-height: 30px;
		margin-left: 50px;
		width: 450px;
	}
	#prefooter h3{
		font-weight: normal;
		margin-left: 50px;
		margin-top: 90px;
	}

	/***ESTILOS DEL PLUGIN****/

	#slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous
    	{
      background-image: url(../images/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:25px;
      height:62px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }
    	a.slidesjs-stop, a.slidesjs-play {
    		display: none !important;
    	}

    a.slidesjs-next {
      background-position: -35px 0;
      position: relative;
	  left: 1101px;

    }


    a.slidesjs-previous {
      background-position: 0 0;
      position: relative;
	  left: 26px;
    }

    /*a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }
    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }*/

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
    .slidesjs-container{
    	height: 465px !important;
    }
    .slidesjs-navigation{
    	position: relative;
    	top: -272px;
		left: 273px;
		z-index: 1000;
    }
    .slidesjs-control{
    	left: 68px !important;
    }